#########################################################################

snippet sbu "Shebang" b
#!/usr/bin/env python
# encoding: utf-8
# ----------------------------------------------------------------------------
$0
endsnippet

