[Unit]
Description = autocutsel, sync X clipboard and cutbuffer
PartOf = xsession.target

[Service]
Type = oneshot
RemainAfterExit = yes
ExecStart = /usr/bin/autocutsel -fork
ExecStart = /usr/bin/autocutsel -selection PRIMARY -fork

[Install]
WantedBy = xsession.target


