[Unit]
Description = start emacs as daemon
PartOf = xsession.target

[Service]
Type = forking
ExecStart = /usr/bin/emacs --daemon
ExecStop = /usr/bin/emacsclient --eval "(save-buffers-kill-emacs)"

[Install]
WantedBy = xsession.target


