[Unit]
Description = setup the trackpoint with xinit (thinkpad)
PartOf = xsession.target

[Service]
Type = oneshot
ExecStart = /usr/bin/xinput set-prop "TPPS/2 IBM TrackPoint" "Evdev Wheel Emulation" 1
ExecStart = /usr/bin/xinput set-prop "TPPS/2 IBM TrackPoint" "Evdev Wheel Emulation Button" 2
ExecStart = /usr/bin/xinput set-prop "TPPS/2 IBM TrackPoint" "Evdev Wheel Emulation Timeout" 200
ExecStart = /usr/bin/xinput set-prop "TPPS/2 IBM TrackPoint" "Evdev Wheel Emulation Axes" 6 7 4 5
 
[Install]
WantedBy = xsession.target


